@model Testapplication.Models.SI

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>SI</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="P" class="control-label"></label>
                <input asp-for="P" class="form-control" />
                <span asp-validation-for="P" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Q" class="control-label"></label>
                <input asp-for="Q" class="form-control" />
                <span asp-validation-for="Q" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R" class="control-label"></label>
                <input asp-for="R" class="form-control" />
                <span asp-validation-for="R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div>
    @ViewBag.result
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
